*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    color: #4c4c4f;
    display: block;
    margin: 1rem  0;
    overflow-x: hidden;
}
#navbar{
    border-right: 2px solid black;
    height: 100%;
    width: 16%;
    max-width: 25rem;
    min-width: 16rem;
    position: fixed;
}
#navbar header{
   font-size: 2.3rem;
}
#navbar ul {
    height: 80%;
    padding: 0;
}
#navbar li{
    border-top: 0.2rem solid;
    list-style: none;
    width: 100%;
    position: relative;
    font-size: 2.2rem;
}
#navbar a{
    display: block;
    padding: 2rem 3rem;
    text-decoration: none;
    cursor: pointer;
    color: #505056;
}
li a:hover{
    box-shadow: 5px 5px 5px rgb(16, 16, 71);
}
 #main-doc header{
    font-weight:lighter;
    color: rgb(90, 88, 88);
    margin: 1rem;
    font-size: 3rem;
}
#main-doc{
    position: absolute;
   margin:0  0  5rem 25rem;
   padding: 1rem;
   
}
.main-section{
   line-height: 1.5;
   font-size: 1.6rem;
  margin-bottom:1rem;
}

main p{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
main code{
    margin-left: 2rem;
    max-width: 80%;
    background-color: rgb(244, 244, 244);
    font-size: 1.4rem;
}
 .main-section ul {
    margin: 2rem 0 0 2rem;
}
hr{
    border: 0.3rem solid rgb(246, 227, 227);
    margin-bottom: 5rem;
}
@media(max-width:1024px){

    #navbar header{
   font-size: 1.8rem;
}
#main-doc{
        margin:-3rem 0  0 21rem;
    }
}
@media(max-width:768px){
    #main-doc{
        margin:-3rem 0  0 18rem;
    }
    #navbar header{
   font-size: 1.7rem;
}
}
@media(max-width:425px){
    #navbar a{
        font-size: 1.6rem;
    }
    #main-doc header{
        font-size: 2.3rem;
    }

}
